/* This is an example of how to import a partial scss file*/
@import '_variables';

body {
  background: $primary-background;
}

header {
  background: $primary-color;
  display: flex;
  justify-content: center;
}

.all-trips {
  background: $secondary-color;
  height: 156px;
  width: 50%;
  overflow: auto;
  float: left;
  position: relative;
  }

.pending-trips{
  
  background: $tertiary-color;
  height: 200px;
  width: 100%;
  overflow: auto;
  float: left;
  position: relative;
}

.traveler-trip {
  border: 1px solid #b00b69;
}

.total-spent {
  background: $secondary-color;
  height: 156px;
  width: 50%;
  float: right;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: xx-large;
}

.hidden {
  visibility: hidden;  
}
